.copyright {
    height: 93px;
    display: flex;
    align-items: center;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;

    &__link {
        text-decoration: none;
        color: #FFFFFF;
    }

    &__link:hover {
        text-decoration: underline;
        color: #FFFFFF;
    }

    &__link--first {
        margin: 0 288px 0 174px;

        @media (min-width: 640px) and (max-width: 1023px) {
            margin: 0 220px 0 106px;
        }

        @media (min-width: 320px) and (max-width: 639px) {
            margin: 24px 0;
        }
    }

    @media (min-width: 320px) and (max-width: 639px) {
        height: 167px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}